Click==7.0
Flask==0.10.1
Flask-Executor==0.9.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.15.4
opencv-python==3.4.3.18
Werkzeug==0.15.4
youtube-dl==2019.7.2
requests==2.21.0 

